@tailwind base;
@tailwind components;
@tailwind utilities;

:root[data-theme="light"] {
  --color-background: #f5f0ea;
  --color-foreground: #2e1e17;

  --color-primary: #351807;
  --color-primary-contrast: #ffffff;

  --color-secondary: #64442a;
  --color-secondary-contrast: #2e1e17;

  --color-surface: #f1e7dd;
  --color-surface-contrast: #29140b;

  --color-muted: #e0d2c4;
  --color-border: #cbb8a9;
}

:root[data-theme="dark"] {
  --color-background: #121212;
  --color-foreground: #e9ecef;

  --color-primary: #1a1a1a;
  --color-primary-contrast: #ffffff;

  --color-secondary: #343a40;
  --color-secondary-contrast: #f8f9fa;

  --color-surface: #1e1e1e;
  --color-surface-contrast: #e9ecef;

  --color-muted: #2c2c2c;
  --color-border: #333333;
}

:root[data-font="sm"] {
  --font-size-base: 12px;
}

:root[data-font="md"] {
  --font-size-base: 16px;
}

:root[data-font="lg"] {
  --font-size-base: 20px;
}

:root[data-font="xl"] {
  --font-size-base: 30px;
}

body {
  font-size: var(--font-size-base);
}
