<div
  class="z-50 flex flex-row-reverse items-start gap-2 fixed right-3 transition-[top] duration-300 ease-in-out"
  [ngClass]="{ 'top-5': !atTop, 'top-16': atTop }"
>
  <div class="flex flex-col items-end gap-3">
    <app-button-icon size="sm" (click)="toggleMenu()">
      <app-icon-menu />
    </app-button-icon>

    <div class="flex flex-col gap-2" *ngIf="showMenu">
      <app-button-icon size="sm" color="secondary" (click)="setColumns(3)">
        <app-icon-grid class="text-sm" />
        <span class="text-xs ml-1">3</span>
      </app-button-icon>

      <app-button-icon size="sm" color="secondary" (click)="setColumns(4)">
        <app-icon-grid class="text-sm" />
        <span class="text-xs ml-1">4</span>
      </app-button-icon>

      <app-button-icon size="sm" color="secondary" (click)="setColumns(5)">
        <app-icon-grid class="text-sm" />
        <span class="text-xs ml-1">5</span>
      </app-button-icon>

      <app-button-icon
        size="sm"
        color="secondary"
        (click)="setFilter('players')"
      >
        <span class="text-xs">Players</span>
      </app-button-icon>

      <app-button-icon size="sm" color="secondary" (click)="setFilter('npcs')">
        <span class="text-xs">NPC's</span>
      </app-button-icon>
    </div>
  </div>

  <app-button-icon size="sm" (click)="reload.emit()">
    <app-icon-play />
  </app-button-icon>
</div>
