<div class="p-4">
  <form
    *ngIf="form"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    class="grid grid-cols-12 gap-4"
  >
    <div class="col-span-12">
      <app-form-input
        label="Nome"
        placeholder="Digite seu nome"
        [control]="form.get('nome')!"
      />
    </div>
    <div class="col-span-12">
      <app-form-input
        label="CPF"
        placeholder="Digite seu CPF"
        [control]="form.get('cpf')!"
        mask="000.000.000-00"
      />
    </div>
    <div class="col-span-12">
      <app-form-select
        [control]="form.get('estado')!"
        [options]="selectOptions"
        label="Tipo de usuário"
        placeholder="Selecione uma opção"
      ></app-form-select>
    </div>
    <div class="col-span-12">
      <app-form-autocomplete
        label="Buscar cidade"
        placeholder="Digite uma cidade"
        [options]="cidades"
        [control]="form.get('cidade')!"
      ></app-form-autocomplete>
    </div>
    <div class="col-span-12">
      <app-form-radio
        label="Tipo de usuário"
        name="tipoUsuario"
        [options]="opcoesUsuario"
        [control]="form.get('tipoUsuario')!"
      ></app-form-radio>
    </div>

    <div class="col-span-12">
      <app-form-checkbox
        label="Aceito os termos"
        [control]="form.get('aceito')!"
      ></app-form-checkbox>
    </div>

    <div class="col-span-12 flex justify-end">
      <button type="submit" class="theme-primary px-4 py-2 rounded text-sm">
        Salvar
      </button>
    </div>
  </form>
</div>
