<div class="w-100 position-relative">
  <!-- Label -->
  <label
    [attr.for]="inputId"
    class="form-label mb-1 fw-medium"
    [ngClass]="{
      'text-surface': !error,
      'text-danger': error
    }"
  >
    {{ label }}
  </label>

  <!-- Input -->
  <input
    #inputRef
    [id]="inputId"
    type="text"
    class="form-control bg-surface shadow-sm"
    [class.is-invalid]="error"
    [placeholder]="placeholder"
    (input)="onInput($event)"
    (blur)="onBlur()"
  />

  <!-- Dropdown de opções -->
  <ul
    *ngIf="showDropdown && filteredOptions.length > 0"
    class="list-group position-absolute z-3 w-100 mt-1 shadow max-vh-50 overflow-auto"
    style="max-height: 15rem;"
  >
    <li
      *ngFor="let opt of filteredOptions"
      (click)="selectOption(opt)"
      class="list-group-item list-group-item-action cursor-pointer"
    >
      {{ opt.label }}
    </li>
  </ul>

  <!-- Erro -->
  <div *ngIf="error" class="invalid-feedback d-block mt-1 px-2">
    {{ error }}
  </div>
</div>
