<div class="row g-3 mt-3">
  <div
    class="col-12 col-md-4 "
    *ngFor="let character of characters as CharacterHomeDto"
  >
    <div class="rounded  theme-border overflow-hidden h-100 d-flex flex-column">
      <!-- Imagem + Badge + Botões -->
      <div class="position-relative" style="height: 18rem; overflow: hidden;">
        <img
          [src]="character.image"
          alt="Ícone"
          class="w-100 h-100 object-fit-cover position-relative"
        />
        <span
          class="bg-white text-black rounded px-2 text-xxs text-uppercase position-absolute top-0 start-0 m-3 z-1"
        >
          {{ character?.controlUser?.name || "NPC" }}
        </span>
        <div class="position-absolute top-0 end-0 m-2 z-1 d-flex justify-content-center align-items-center">
          <app-button-icon size="sm">
            <app-icon-camera class="small" />
          </app-button-icon>
        </div>
        <div class="position-absolute bottom-0 end-0 m-2 z-1 text-white text-xs">
          <app-switch [(ngModel)]="character.edit" label="Edição" />
        </div>
      </div>

      <!-- Conteúdo textual -->
      <div class="d-flex flex-column flex-grow-1 p-2">
        <h1 class="fs-5 fw-bold">{{ character.name }}</h1>
        <p class="my-3 flex-grow-1">
          <span class="fw-bold">Profissão:</span><br />
          {{ character.profession }}
        </p>
        <div class="d-flex justify-content-between">
          <div class="text-center">
            <span class="fw-bold d-block">Idade:</span>
            {{ character.age }}
          </div>
          <div class="text-center">
            <span class="fw-bold d-block">Idade Ap.:</span>
            {{ character.apparentAge }}
          </div>
        </div>
      </div>

      <!-- Pontos -->
      <div class="p-2 d-flex flex-column gap-2">
        <hr class="mb-2 theme-border" />
        <div class="d-flex justify-content-between mb-1">
          <h2 class="fs-6 ">Informações principais</h2>
          <button class="btn p-2 pt-0"><app-icon-edit class="fs-6 text-secondary" /></button>
        </div>
        <div class="row g-2">
          <div class="col-6"><app-character-card-points-control /></div>
          <div class="col-6"><app-character-card-points-control /></div>
          <div class="col-6"><app-character-card-points-control /></div>
          <div class="col-6"><app-character-card-points-control /></div>
          <div class="col-6"><app-character-card-points-control /></div>
          <div class="col-6"><app-character-card-points-control /></div>
        </div>
        <hr class="mt-1 theme-border" />
      </div>

      <!-- Menu final -->
      <div class="p-2">
        <app-character-sheet-menu></app-character-sheet-menu>
      </div>
    </div>
  </div>
</div>
