<fieldset class="w-100">
  <legend
    class="fw-medium mb-1"
    [ngClass]="{
      'text-surface': !error,
      'text-danger': error
    }"
  >
    {{ label }}
  </legend>

  <div class="d-flex flex-column gap-2">
    <div
      *ngFor="let opt of options"
      class="form-check"
      [ngClass]="{
        'text-surface': !error,
        'text-danger': error
      }"
    >
      <input
        class="form-check-input"
        type="radio"
        [name]="name"
        [formControl]="control"
        [value]="opt.value"
        [id]="name + '-' + opt.value"
      />
      <label
        class="form-check-label"
        [attr.for]="name + '-' + opt.value"
      >
        {{ opt.label }}
      </label>
    </div>
  </div>

  <div *ngIf="error" class="invalid-feedback d-block mt-1 px-1">
    {{ error }}
  </div>
</fieldset>
