<div
  class="w-full flex flex-col text-center py-2 border border-gray-700 border-opacity-45 rounded"
>
  <div class="flex px-3 mb-3">
    <app-icon-rotate class="text-lg text-gray-700" />
  </div>
  <h1 class="text-4xl font-bold">19 / 19</h1>
  <small>Pontos de Vida</small>
  <hr class="border-gray-700 border-opacity-45 m-2" />
  <div class="flex justify-evenly">
    <button class="flex justify-center items-center">
      <app-icon-minus class="text-2xl text-gray-700" />
    </button>
    <button class="flex justify-center items-center">
      <app-icon-plus class="text-2xl text-gray-700" />
    </button>
  </div>
</div>
