<div class="w-100 d-flex flex-column text-center py-2 rounded theme-border">
  <!-- Ícone superior -->
  <div class="btn d-flex justify-content-start ">
    <app-icon-rotate class="fs-6 text-secondary" />
  </div>

  <!-- Valor de pontos -->
  <h1 class="display-5 fw-bold">19 / 19</h1>
  <small>Pontos de Vida</small>

  <!-- Linha divisória -->
  <hr class="theme-border my-2" />

  <!-- Botões -->
  <div class="d-flex justify-content-evenly">
    <button class="btn p-1 d-flex justify-content-center align-items-center">
      <app-icon-minus class="fs-3 text-secondary" />
    </button>
    <button class="btn p-1 d-flex justify-content-center align-items-center">
      <app-icon-plus class="fs-3 text-secondary" />
    </button>
  </div>
</div>
