  <div class="w-100 p-2 d-flex justify-content-end gap-2">
    <app-button-icon (click)="toggleLanguage()" class="position-relative">
      <app-icon-language class="fs-4" />
      <span
        class="position-absolute top-50 start-50 translate-middle-x badge rounded-pill theme-secondary mt-2 ms-2"
      >
        {{ lang.language() === 'pt' ? 'PT' : 'EN' }}
      </span>
    </app-button-icon>

    <app-button-icon (click)="toggleTheme()">
      <ng-container *ngIf="theme.theme() !== 'dark'; else darkTheme">
        <app-icon-sun class="fs-4" />
      </ng-container>
      <ng-template #darkTheme>
        <app-icon-moon class="fs-4" />
      </ng-template>
    </app-button-icon>
  </div>