<div class="theme-background d-flex flex-column min-vh-100">
  <!-- Navbar -->
  <div class="theme-muted">
    <app-navbar (toggleSidebar)="toggleSidebar()"></app-navbar>
  </div>

  <!-- Área principal -->
  <div class="d-flex flex-grow-1 h-100 position-relative">
    <!-- Sidebar -->
    <div
      class="sidebar-container"
      [ngClass]="{
        'sidebar-open': isSidebarOpen,
        'sidebar-closed': !isSidebarOpen,
      }"
    >
      <app-sidebar></app-sidebar>
    </div>

    <!-- Conteúdo principal -->
    <div class="main-content p-4 flex-grow-1"
     [ngClass]="{
        'd-none d-md-block': isSidebarOpen,
        '': !isSidebarOpen,
      }"
      >
      <router-outlet></router-outlet>
    </div>
  </div>

  <!-- Rodapé -->
  <div class="theme-muted">
    <app-footer></app-footer>
  </div>
</div>
