<nav class="theme-surface rounded overflow-hidden">
  <div class="list-group list-group-flush">
    <a href="/aventura"     class="list-group-item list-group-item-action">Aventura</a>
    <a href="/personagens" class="list-group-item list-group-item-action">Personagens</a>
    <a href="/diario-de-bordo" class="list-group-item list-group-item-action">Diário de Bordo</a>
    <a href="/regras"       class="list-group-item list-group-item-action">Regras</a>
    <a href="/livros"       class="list-group-item list-group-item-action">Livros</a>
    <button type="button" (click)="logout()" class="list-group-item list-group-item-action">
      Sair
    </button>
  </div>
</nav>
