<div class="theme-primary border-border p-3 flex gap-2">
  <button class="flex" mat-icon-button (click)="toggleSidebar.emit()">
    <!-- <mat-icon>menu</mat-icon> -->
  </button>
  <a href="/home" class="ml-4 font-semibold flex-1">
    <img src="assets/logo-white.png" alt="Ícone" class="w-28" />
  </a>

  <div class="flex items-center gap-2">
    <!-- Diminuir fonte -->
    <button mat-icon-button (click)="decreaseFont()">
      <span class="material-symbols-outlined">text_decrease</span>
    </button>

    <!-- Fonte padrão -->
    <button mat-icon-button (click)="resetFont()">
      <span class="material-symbols-outlined">format_size</span>
    </button>

    <!-- Aumentar fonte -->
    <button mat-icon-button (click)="increaseFont()">
      <span class="material-symbols-outlined">text_increase</span>
    </button>
  </div>

  <button mat-icon-button (click)="toggleTheme()">
    <!-- <mat-icon>
      {{ theme.theme() === "dark" ? "light_mode" : "dark_mode" }}</mat-icon
    > -->
  </button>
</div>
