<div class="theme-primary border-default p-3 d-flex align-items-center gap-2">
  <!-- Botão de menu lateral -->
  <button
    class="btn p-0 d-flex align-items-center"
    type="button"
    (click)="toggleSidebar.emit()"
  >
    <app-icon-bars class="fs-4"></app-icon-bars>
  </button>

  <!-- Logo/link para home -->
  <a
    href="/home"
    class="ms-4 fw-semibold flex-grow-1 d-flex align-items-center"
  >
    <img src="assets/logo-white.png" alt="Ícone" style="width: 7rem" />
  </a>

  <!-- Controles de tamanho de fonte -->
  <div class="d-flex align-items-center gap-2">
    <button class="btn p-0" type="button" (click)="decreaseFont()">
      <span class="material-symbols-outlined">text_decrease</span>
    </button>

    <button class="btn p-0" type="button" (click)="resetFont()">
      <span class="material-symbols-outlined">format_size</span>
    </button>

    <button class="btn p-0" type="button" (click)="increaseFont()">
      <span class="material-symbols-outlined">text_increase</span>
    </button>
  </div>

  <!-- Botão de alternar tema -->
  <button class="btn p-0" type="button" (click)="toggleTheme()">
    <ng-container *ngIf="theme.theme() !== 'dark'; else darkTheme">
      <app-icon-sun class="fs-4"></app-icon-sun>
    </ng-container>
    <ng-template #darkTheme>
      <app-icon-moon class="fs-4"></app-icon-moon>
    </ng-template>
  </button>
</div>
