<div class="w-100">
  <div class="d-flex align-items-center gap-3">
    <input
      [id]="checkboxId"
      type="checkbox"
      class="form-check-input me-2 bg-surface theme-border cursor-pointer"
      [class.is-invalid]="error"
      [formControl]="control"
    />

    <label
      [attr.for]="checkboxId"
      class="form-check-label fw-medium user-select-none cursor-pointer"
      [ngClass]="{
        'text-surface': !error,
        'text-danger': error
      }"
    >
      {{ label }}
    </label>
  </div>

  <div *ngIf="error" class="invalid-feedback d-block mt-1 px-1">
    {{ error }}
  </div>
</div>
