<div class="w-full">
  <div class="flex items-center space-x-3">
    <input
      [id]="checkboxId"
      type="checkbox"
      class="w-5 h-5 rounded border border-border bg-surface accent-primary focus:outline-none cursor-pointer"
      [formControl]="control"
    />
    <label
      [attr.for]="checkboxId"
      class="font-medium select-none cursor-pointer"
      [ngClass]="{
        'text-foreground': !error,
        'text-red-500': error
      }"
    >
      {{ label }}
    </label>
  </div>

  <p *ngIf="error" class="text-sm text-red-500 mt-1 px-1">
    {{ error }}
  </p>
</div>
