<div class="w-100">
  <!-- Label -->
  <label
    [attr.for]="selectId"
    class="form-label fw-medium mb-1"
    [ngClass]="{
      'text-surface': !error,
      'text-danger': error
    }"
  >
    {{ label }}
  </label>

  <!-- Select -->
  <select
    [id]="selectId"
    [formControl]="control"
    (blur)="onBlur()"
    class="form-select bg-surface font-normal shadow-sm"
    [ngClass]="{
      'theme-border text-surface': !error && control.value,
      'text-muted': !error && !control.value,
      'is-invalid border-danger text-danger': error
    }"
  >
    <option value="" disabled hidden>{{ placeholder }}</option>
    <option *ngFor="let opt of options" [value]="opt.value">
      {{ opt.label }}
    </option>
  </select>

  <!-- Feedback -->
  <div *ngIf="error" class="invalid-feedback d-block mt-1 px-2">
    {{ error }}
  </div>
</div>
