<div class="container-fluid">
  <div class="row g-4">
    <!-- Primeira linha -->
    <div class="col-4 text-center">
      <app-button-icon label="Dados Básicos">
        <app-icon-info class="fs-5" />
      </app-button-icon>
    </div>
    <div class="col-4 text-center">
      <app-button-icon label="Atributos">
        <app-icon-attributes class="fs-5" />
      </app-button-icon>
    </div>
    <div class="col-4 text-center">
      <app-button-icon label="Aprimoramentos">
        <app-icon-improvements class="fs-5" />
      </app-button-icon>
    </div>

    <!-- Segunda linha -->
    <div class="col-4 text-center">
      <app-button-icon label="Perícias">
        <app-icon-skill class="fs-5" />
      </app-button-icon>
    </div>
    <div class="col-4 text-center">
      <app-button-icon label="Perícias de Combate">
        <app-icon-combat-skill class="fs-5" />
      </app-button-icon>
    </div>
    <div class="col-4 text-center">
      <app-button-icon label="Magias">
        <app-icon-magia class="fs-5" />
      </app-button-icon>
    </div>

    <!-- Terceira linha -->
    <div class="col-4 text-center">
      <app-button-icon label="Rituais e Poderes">
        <app-icon-ritual class="fs-5" />
      </app-button-icon>
    </div>
    <div class="col-4 text-center">
      <app-button-icon label="Armas">
        <app-icon-weapon class="fs-5" />
      </app-button-icon>
    </div>
    <div class="col-4 text-center">
      <app-button-icon label="Equipamentos">
        <app-icon-equipament class="fs-5" />
      </app-button-icon>
    </div>

    <!-- Quarta linha -->
    <div class="col-4 text-center">
      <app-button-icon label="Contatos">
        <app-icon-person class="fs-5" />
      </app-button-icon>
    </div>
    <div class="col-4 text-center">
      <app-button-icon label="Background">
        <app-icon-background class="fs-5" />
      </app-button-icon>
    </div>
    <div class="col-4 text-center">
      <app-button-icon label="Notas">
        <app-icon-note class="fs-5" />
      </app-button-icon>
    </div>
  </div>
</div>
