<div class="grid grid-1 gap-4">
  <div class="grid grid-cols-3">
    <app-button-icon label="Padre especialista no enfrentamento ">
      <app-icon-info class="text-3xl" />
    </app-button-icon>
    <app-button-icon label="teste">
      <app-icon-info class="text-3xl" />
    </app-button-icon>
    <app-button-icon label="teste">
      <app-icon-info class="text-3xl" />
    </app-button-icon>
  </div>
  <div class="grid grid-cols-3">
    <app-button-icon label="teste">
      <app-icon-info class="text-3xl" />
    </app-button-icon>
    <app-button-icon label="teste">
      <app-icon-info class="text-3xl" />
    </app-button-icon>
    <app-button-icon label="teste">
      <app-icon-info class="text-3xl" />
    </app-button-icon>
  </div>
  <div class="grid grid-cols-3">
    <app-button-icon label="teste">
      <app-icon-info class="text-3xl" />
    </app-button-icon>
    <app-button-icon label="teste">
      <app-icon-info class="text-3xl" />
    </app-button-icon>
    <app-button-icon label="teste">
      <app-icon-info class="text-3xl" />
    </app-button-icon>
  </div>
  <div class="grid grid-cols-3">
    <app-button-icon label="teste">
      <app-icon-info class="text-3xl" />
    </app-button-icon>
    <app-button-icon label="teste">
      <app-icon-info class="text-3xl" />
    </app-button-icon>
    <app-button-icon label="teste">
      <app-icon-info class="text-3xl" />
    </app-button-icon>
  </div>
</div>
