<div class="grid grid-1 gap-4">
  <div class="grid grid-cols-3">
    <app-button-icon label="Dados Básicos">
      <app-icon-info class="text-3xl" />
    </app-button-icon>
    <app-button-icon label="Atributos">
      <app-icon-attributes class="text-3xl" />
    </app-button-icon>
    <app-button-icon label="Aprimoramentos">
      <app-icon-improvements class="text-3xl" />
    </app-button-icon>
  </div>
  <div class="grid grid-cols-3">
    <app-button-icon label="Perícias">
      <app-icon-skill class="text-3xl" />
    </app-button-icon>
    <app-button-icon label="Perícias de Combate">
      <app-icon-combat-skill class="text-3xl" />
    </app-button-icon>
    <app-button-icon label="Magias">
      <app-icon-magia class="text-3xl" />
    </app-button-icon>
  </div>
  <div class="grid grid-cols-3">
    <app-button-icon label="Rituais e Poderes">
      <app-icon-ritual class="text-3xl" />
    </app-button-icon>
    <app-button-icon label="Armas">
      <app-icon-weapon class="text-3xl" />
    </app-button-icon>
    <app-button-icon label="Equipamentos">
      <app-icon-equipament class="text-3xl" />
    </app-button-icon>
  </div>
  <div class="grid grid-cols-3">
    <app-button-icon label="Contatos">
      <app-icon-person class="text-3xl" />
    </app-button-icon>
    <app-button-icon label="Background">
      <app-icon-background class="text-3xl" />
    </app-button-icon>
    <app-button-icon label="Notas">
      <app-icon-note class="text-3xl" />
    </app-button-icon>
  </div>
</div>
