<section class="theme-background d-flex flex-column align-items-center">
  <div class="text-center my-3">
    <img src="assets/logo-gray.png" alt="Ícone" width="160" />
  </div>

  <div class="container">
    <form
      *ngIf="form"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      class="row gap-2 align-items-center flex-column"
    >
      <div class="col-12 col-md-5">

        <h1 class="text-title text-success my-3">Login</h1>
      </div>
      <!-- campo e-mail -->
      <app-form-input
        label="E-mail"
        placeholder="Digite seu e-mail"
        [control]="form.controls.email!"
        col="12"
        colMd="5"
      >
      </app-form-input>

      <!-- campo senha -->
      <app-form-input
        label="Senha"
        placeholder="Digite sua senha"
        type="password"
        [control]="form.controls.password!"
         col="12"
        colMd="5"
      >
      </app-form-input>

      <div class="col-12 col-md-5 text-end">
        <button type="submit" class="btn btn-primary">Entrar</button>
      </div>
    </form>
  </div>
</section>
