<section class="theme-background d-flex flex-column align-items-center">
  <div class="text-center my-3">
    <img src="assets/logo-gray.png" alt="Ícone" width="160" />
  </div>

  <div class="container">
    <form
      *ngIf="form"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      class="row gap-2 align-items-center flex-column"
    >
      <div class="col-12 col-md-5">
        <h1 class="text-title text-success my-3">
          {{ "LOGIN.TITLE" | translate }}
        </h1>
      </div>
      <!-- campo e-mail -->
      <app-form-input
        [label]="'COMMON.EMAIL' | translate"
        [placeholder]="
          'PLACEHOLDER.DEFAULT'
            | translate
              : { field: translate.instant('COMMON.EMAIL'), pronoun: 'seu' }
        "
        [control]="form.controls.email!"
        col="12"
        colMd="5"
      >
      </app-form-input>

      <!-- campo senha -->
      <app-form-input
        [label]="'COMMON.PASSWORD' | translate"
        [placeholder]="
          'PLACEHOLDER.DEFAULT'
            | translate
              : { field: translate.instant('COMMON.PASSWORD'), pronoun: 'sua' }
        "
        type="password"
        [control]="form.controls.password!"
        col="12"
        colMd="5"
      >
      </app-form-input>

      <div class="col-12 col-md-5 text-end">
        <button type="submit" class="btn btn-primary">{{ "COMMON.LOGIN" | translate }}</button>
      </div>
    </form>
  </div>
</section>
